#
# More elaborated td-agent.conf with Prometheus.
# For more details, see http://docs.fluentd.org/articles/config-file
#


#---------------------------------------#
# Source
#

# Fluentd Exporter for Prometheus
# @see https://github.com/kazegusuri/fluent-plugin-prometheus
#
# endpoint definition
<source>
    @type prometheus
    #bind 0.0.0.0
    #port 24231
    #metrics_path /metrics
</source>
# input plugin that collects metrics from MonitorAgent
<source>
    @type prometheus_monitor
    <labels>
        host ${hostname}
    </labels>
</source>



#---------------------------------------#
# Filter
#



#---------------------------------------#
# Match
#

<match fluentd.traffic.*>
    @type copy
    <store>
        @type stdout
    </store>
    <store>
        @type prometheus
        <metric>
            name fluentd_count_per_minute
            type gauge
            desc The average traffic items of fluentd
            key  count
        </metric>
        <metric>
            name fluentd_bytes_per_minute
            type gauge
            desc The average traffic bytes of fluentd
            key  bytes
        </metric>
    </store>
</match>


<match **>
    @type copy
    #<store>
    #    @type stdout
    #</store>
    <store>
        @type flowcounter
        count_keys *
        unit       minute
        aggregate  all
        tag        fluentd.traffic.minute
    </store>
</match>
