#!/usr/bin/env bash
# Restart td-agent the hard way

# stop
service td-agent stop
sleep 5
# make sure it stopped
ps aux | grep td-agent | cut -d' ' -f2 | xargs -r kill -9
# start
service td-agent start
exit $?